# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2021 Intel Corporation


---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  creationTimestamp: null
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  - v1beta1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-flowconfig-intel-com-v1-nodeflowconfig
  failurePolicy: Fail
  name: vnodeflowconfig.kb.io
  rules:
  - apiGroups:
    - flowconfig.intel.com
    apiVersions:
    - v1
    operations:
    - CREATE
    - UPDATE
    resources:
    - nodeflowconfigs
  sideEffects: None
