# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2021 Intel Corporation


apiVersion: v1
kind: Service
metadata:
  name: webhook-service
  namespace: system
spec:
  ports:
    - port: 443
      targetPort: 9443
  selector:
    control-plane: controller-manager
