# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2021 Intel Corporation

# The following patch enables a conversion webhook for the CRD
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: ethernetnodeconfigs.ethernet.intel.com
spec:
  conversion:
    strategy: Webhook
    webhook:
      clientConfig:
        service:
          namespace: system
          name: webhook-service
          path: /convert
